<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
    <section name="TransportConfig"
             type="NServiceBus.Config.TransportConfig, NServiceBus.Core"/>
    <!--<section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>-->
  </configSections>
  <!--<MsmqTransportConfig InputQueue="Two@POCCACHING1" ErrorQueue="error@POCCACHING1" NumberOfWorkerThreads ="1" MaxRetries="5"/>-->
  <TransportConfig MaxRetries="2" />
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=MultiplePubSubQueuing" providerName="System.Data.SqlClient" />-->
    <!-- MSMQ -->
    <add name="NServiceBus/Transport"
         connectionString="deadLetter=true;
                          journal=true;
                          useTransactionalQueues=true;
                          cacheSendConnection=true"/>

    <!-- Default connection string for all NHibernate/Sql persisters -->
    <add name="NServiceBus/Persistence" connectionString="Data Source=10.77.9.106,1433;Initial Catalog=MultiplePubSubQueuing;user id=sa;password=Password1" />

    <!-- Optional overrides per persister -->
    <add name="NServiceBus/Persistence/NHibernate/Timeout" connectionString="Data Source=10.77.9.106,1433;Initial Catalog=timeout;user id=sa;password=Password1" />
    <!--<add name="NServiceBus/Persistence/NHibernate/Saga" connectionString="Data Source=.;Initial Catalog=sagas;Integrated Security=True" />-->
    <add name="NServiceBus/Persistence/NHibernate/Subscription" connectionString="Data Source=10.77.9.106,1433;Initial Catalog=subscription;user id=sa;password=Password1" />
    <!--<add name="NServiceBus/Persistence/NHibernate/Deduplication" connectionString="Data Source=.;Initial Catalog=gateway;Integrated Security=True" />-->
    <!--<add name="NServiceBus/Persistence/NHibernate/Distributor" connectionString="Data Source=.;Initial Catalog=distributor;Integrated Security=True" />-->

  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- dialect is defaulted to MsSql2008Dialect, if needed change accordingly -->
    <add key="NServiceBus/Persistence/NHibernate/dialect"
         value="NHibernate.Dialect.MsSql2008Dialect" />
    <!-- other optional settings examples -->
    <add key="NServiceBus/Persistence/NHibernate/connection.provider"
         value="NHibernate.Connection.DriverConnectionProvider" />
    <add key="NServiceBus/Persistence/NHibernate/connection.driver_class"
         value="NHibernate.Driver.Sql2008ClientDriver" />
    <add key="ServiceControl/Queue"
        value="particular.servicecontrol@IE3BLT3VZ1N62" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="Subscriber2.Service1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9009/services/Subscriber2/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="two" binding="basicHttpBinding" contract="Subscriber2.IService1">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <!--<MessageForwardingInCaseOfFaultConfig 
    ErrorQueue="The queue to which errors will be forwarded." />-->
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error@POCCACHING1" />
  <!--<UnicastBusConfig 
    DistributorControlAddress="The address for sending control messages to the distributor."
    DistributorDataAddress="The distributor's data address, used as the return address of messages sent by this endpoint."
    TimeoutManagerAddress="The address that the timeout manager will use to send and receive messages." >
    <MessageEndpointMappings>
      To register all message types defined in an assembly:
      <add Assembly="assembly" Endpoint="queue@machinename" />
      
      To register all message types defined in an assembly with a specific namespace (it does not include sub namespaces):
      <add Assembly="assembly" Namespace="namespace" Endpoint="queue@machinename" />
      
      To register a specific type in an assembly:
      <add Assembly="assembly" Type="type fullname (http://msdn.microsoft.com/en-us/library/system.type.fullname.aspx)" Endpoint="queue@machinename" />
    </MessageEndpointMappings>
  </UnicastBusConfig>-->
  <UnicastBusConfig>
    <MessageEndpointMappings >
      <add Assembly="Shared" Type="Shared.Two" Endpoint="Two@POCCACHING1" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <!--<AuditConfig 
    QueueName="The address to which messages received will be forwarded."
    OverrideTimeToBeReceived="The time to be received set on forwarded messages, specified as a timespan see http://msdn.microsoft.com/en-us/library/vstudio/se73z7b9.aspx"  />-->
  <AuditConfig QueueName="audit" />
</configuration>